@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    /* font-size: 16px; */
  }

  body {
    font-family: Inter, system-ui, sans-serif;
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
  }
}

@layer components {
  .container {
    @apply mx-auto px-6 max-w-[1300px];
  }
}


@layer utilities {
  .text-stroke {
    -webkit-text-stroke: 1px rgba(255,255,255,0.4);
    color: transparent;
  }
}
